#IDEs
.vscode/


# Environments
.env
.venv/

# Python
__pycache__/
*.py[cod]
__pycache__/
*.pyc
*.pyo
*.pyd

# Database (Optional, but good practice if you have local sqlite files)
db.sqlite3


*.http

amazon_product_data/